body > .container {
	padding: 0px;
}

table {
	border: 1px solid rgb(204, 204, 204);
	box-shadow: rgb(209, 209, 209) 0px 1px 2px;
	border-radius: 1px;
	font-size: 10pt;
}

.alert-success {
	background: #7ABF66;
	background-color: #7ABF66;
	color: #ffffff;
}

.alert-error {
	background: #DB3026;
	background-color: #DB3026;
	color: #ffffff;
}

.alert-warning {
	background: #F9E14B;
	background-color: #F9E14B;
	color: #ffffff;
}

.alert-default {
	background: #E88A25;
	background-color: #E88A25;
	color: #ffffff;
}

.label-success {
	background: #7ABF66;
	background-color: #7ABF66;
	color: #ffffff;
}

.label-error {
	background: #DB3026;
	background-color: #DB3026;
	color: #ffffff;
}

.label-warning {
	background: #F9E14B;
	background-color: #F9E14B;
	color: #ffffff;
}

.label-default {
	background: #E88A25;
	background-color: #E88A25;
	color: #ffffff;
}

.datepicker {
	padding: 6px 12px;
}

.form-control {
	border-radius: 0px;
}

table th {
	text-align: center;	
	border-top: 0px;
	border-bottom: 1px solid rgb(224, 224, 224);
	border-left: 1px solid rgb(224, 224, 224);
	background: rgb(237, 237, 237);
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
}

table td {
	padding: 10px;
	border-bottom: 1px solid rgb(224, 224, 224);
	border-left: 1px solid rgb(224, 224, 224);
	background: rgb(250, 250, 250);
}

table tbody {
	text-align: center;
}

table thead tr th {
	padding: 5px;
}

table tr:first-child th:last-child {
	border-top-right-radius: 3px;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.pagination {
	margin: 0px;
}

.pagination span {
	border-radius: 0px;	
}
.pagination>li>a, .pagination>li>span {
	border: 1px solid rgb(204, 204, 204);
}
.active {
	background-color:#428BFF;
	border-color: #428BFF;
	color: #ffffff !important;
}
.navbar-nav li > a:hover{
	background-color:#428BFF !important;
	border-color: #428BFF !important;
	color: #ffffff !important;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color:#428BFF;
	border-color: #428BFF;
}

.pagination>li>a, .pagination>li>span {
	color:#428BFF;
}